/* Material UI Customized Components */

.GridContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Paper {
  height: 550px;
  width: 430px;
}

.CustomAppBar {
  flex-grow: 1;
}

.CustomExpansionPanelItem {
  display: flex;
  flex-direction: column;
}

/* SuperSelectField styles */

.SuperSelectFieldDiv {
  display: flex;
  flex-grow: 2;
}

.SelectEntry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CustomSelectComponentDiv {
  display: flex;
  flex-grow: 2;
}

.SuperSelectField {
  display: flex;
  min-width: 150px;
  margin: 10px;
  align-items: stretch;
  flex-grow: 2;
  padding: 5px;
}

.FloatingLabel {
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  color: #757575;
}

/* Buttons */

.AddButton {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.ImageButton {
  height: 36px;
  width: 45px;
}

/* Properties elements divs */

.SuperTextInputDiv {
  display: flex;
  align-content: flex-start;
  margin: 10px;
}

.SuperCheckboxDiv {
  margin-left: -5px;
  display: flex;
  flex-grow: 2;
  padding-left: 0px;
}

.SuperComboboxDiv {
  margin-left: -3px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

/* Image section styles */

.ImageDiv {
  height: 100%;
  width: 100%;
  position: relative;
}

.PromptBar {
  height: 100%;
  width: 2%;
}

.Image {
  max-width: 100%;
  max-height: 100%;
}

.ImagePaper {
  overflow: hidden;
}

.ImageSlideDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
}

/* Other styles */

.TextField {
  display: flex;
  flex-grow: 2;
  margin-left: 10px;
}

.TextFieldDiv {
  display: flex;
  flex-grow: 2;
}

.GroupDiv {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.ImageButtonDiv {
  display: flex !important;
  align-items: center !important;
}
